extends ../../../../templates/master.pug

block body

    <link href="/mahoganylanding/css/creative.min.css" rel="stylesheet">

        //- nav
        <nav class="navbar navbar-expand-lg sticky-top" style="background-color:whitesmoke;">
            <a class="navbar-brand" href="/staff/announcements">
                <img src="/mahoganylanding/img/logo.png" width="40" height="35" class="d-inline-block align-top" alt="irregular please icon"> <a class="navbar-brand js-scroll-trigger" href="/staff/announcements"><b>Mahogany <small>Daycare Center</b></small></a></a>
                <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/staff/enrollment"><b>Enrollment</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/staff/activities"><b>Activities</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/staff/class1"><b>Class</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/staff/messaging"><b>Messaging</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/staff/reports"><b>Reports</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout"><b>Logout</b></a>
                    </li>
                </ul>
                </div>
                </div>
        </nav>

                
        block content 