extends ../../home/views/navbar.pug

block content
    <br>
    <hr>
    <br>
    <div class="content-wrapper">
        <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-list-ul"></i> Activities of the School
            </div>
            <div class="card-body">
            <div class="content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">January</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr style="color:black">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">February</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">March</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                    <div class="content">
                      <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">April</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">May</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">June</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>
                    <div class="content">
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">July</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">August</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">September</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>
                    <div class="content">
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">October</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">November</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">December</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Time</th>
                                        <th>Action</th> 
                                    </thead>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          <button class="btn btn-primary btn-icon btn-round" type="button" >
                                            <a href="edit.html">
                                            <i class="fa fa-plus-square" style="color:white;"> Add</i>
                                          </button>
                                        </td>
                                      </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>
            </div>
        </div>
        </div>
    </body>