extends ../../home/views/navbar.pug

block content
    <br>
    <hr>
    <br>
    <div class="content-wrapper">
        <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-list-ul"></i> Messaging
            </div>
            <div class="card-body">

            </div>
        </div>
        </div>
    </body>