html
    head
        title Mahogany Daycare Center
        link(rel="stylesheet" href="/assets/bootstrap/bootstrap.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/jquery/jquery-3.2.1.slim.min.js"></script>
        <script src="/assets/popper/popper.min.js"></script>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/homepage/img/logo.png" sizes="16x16">

        <link href="/mahoganylanding/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/mahoganylanding/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/mahoganylanding/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    body
        div.section
            block body